{% extends "base.html" %}
{% load static %}
{% block title %}Home{% endblock title %}
{% block body %}
<div class="content-container">
    <h1>Website of sheppsubot</h1>
    <hr>
    <p class="description">
        sheppsubot is a Twitch offlinechat bot created by <a href="https://sheppsu.me">sheppsu</a> (OfCourse).
        It runs in several channels, but there is currently no way to add it yourself (soon™ to come). You can check
        out the <a href="{% url 'docs' %}">docs</a>, the old <a href="{% url 'canvas' %}">offlinechat place</a>,
        or the <a href="#">offlinechat osu leaderboard</a> (TODO).
    </p>
</div>
{% endblock body %}
