.page-container {
    width: 600px;
    margin: auto;
    margin-top: 10px;

    text-align: center;
}

.lb-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.entry-container {
    width: 500px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1 {
    margin: 0;
    font-size: 30px;
}