{% extends "base.html" %}
{% load static %}
{% block title %}Place{% endblock title %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/canvas.css' %}">
{% endblock head %}
{% block body %}
<div id="canvas-container">
    <div id="canvas-move-container">
        <div id="canvas-zoom-container">
            <canvas id="canvas" width="750" height="750"></canvas>
        </div>
    </div>
</div>

<div id="zoom-bar" class="gui">
    <table id="zoom-table">
        <tr>
            <td id="zoom-1x" class="zoom-option"><h1 class="black label">1x</h1></td>
            <td></td>
            <td id="zoom-2x" class="zoom-option"><h1 class="black label">2x</h1></td>
            <td></td>
            <td id="zoom-4x" class="zoom-option"><h1 class="black label">4x</h1></td>
            <td></td>
            <td id="zoom-8x" class="zoom-option"><h1 class="black label">8x</h1></td>
            <td></td>
            <td id="zoom-16x" class="zoom-option"><h1 class="black label">16x</h1></td>
            <td></td>
            <td id="zoom-32x" class="zoom-option"><h1 class="black label">32x</h1></td>
        </tr>
    </table>
</div>

<div id="place-pos" class="gui">
    <h1 id="place-pos-label" class="black label"></h1>
</div>

<div id="user-label-container" class="gui"><h1 id="user-label" class="black label">User:</h1></div>

<div id="error-container" class="gui" hidden><h1 id="error-label" class="label"></h1></div>

<h1 id="end-date" style="position:absolute;left:0;top:0;margin-left:10px;margin-top:calc(100vh - 50px)">Ended</h1>

<script src="{% static 'js/canvas.js' %}"></script>
{% endblock body %}
{% block headerid %}place{% endblock headerid %}
