:root {
    --zoom-bar-width: 350px;
    --zoom-bar-height: 40px;
    --place-pos-width: 100px;
    --place-pos-height: 20px;
    --place-button-width: 250px;
    --place-button-height: 50px;

    --error-width: 500px;
    --picking-color: #cccccc;
    --main-color1: #ff8b00;
    --main-color1-hover: #dd6b00;
	
	--canvas-width: 750px;
	--canvas-height: 750px;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

input {
    overflow: hidden;
    outline: none;
    padding: 0;
}

h1 {
    margin: 0;
}

/* Disable number scroll in number input */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

#canvas-container {
    width: 100vw;
    height: 100vh;

    overflow: hidden;
    image-rendering: pixelated;
}

#canvas-zoom-container {
    width: var(--canvas-width);
    height: var(--canvas-height);
    transform: scale(1, 1);
}

#canvas-move-container {
    width: var(--canvas-width);
    height: var(--canvas-height);
    transform: translate(0px, 0px);
}

.gui {
    border: 3px solid black;
    border-radius: 30px;

    position: absolute;
    top: 0;
    left: 0;

    background-color: #ffffff;
    text-align: center;
    user-select: none;
}

.contained {
    margin: 5px 0;
    position: relative;
}

#zoom-bar {
    width: var(--zoom-bar-width);
    height: var(--zoom-bar-height);
    margin: 70px 0 0 calc(50vw - (var(--zoom-bar-width)/2));
}

#zoom-table {
    width: calc(100% - 40px);
    height: var(--zoom-bar-height);

    margin: 0 20px;
}

.zoom-option {
    height: 100%;
    aspect-ratio: 1 / 1;
    cursor: pointer;
}

.zoom-option:hover {
    background-color: var(--picking-color);
}

.black {
    color: #000000;
}

.picked-zoom-option {
    background-color: var(--picking-color);
}

#color-table {
    width: 100%;
    height: calc(100% - 40px);

    margin: 20px 0;
    text-align: center;
}

#color-picker {
    width: 160px;
    height: 360px;
    margin: calc(50vh - 150px) 0 0 10px;
}

.color-option {
    height: 100%;
    max-height: 25px;
    aspect-ratio: 1 / 1;
    cursor: pointer;

    border-style: solid;
    border-width: 2px;
    border-radius: 0;

    margin: auto;
}

#place-pos {
    width: var(--place-pos-width);
    height: var(--place-pos-height);
    margin: 120px 0 0 calc(50vw - (var(--zoom-bar-width)/2) + 10px);
}

#place-pos-label {
    font-size: 10px;
    margin-top: 3px;
}

#place-button {
    width: var(--place-button-width);
    height: var(--place-button-height);
    margin: calc(100vh - var(--place-button-height) - 20px) 0 0 calc(50vw - (var(--place-button-width)/2));
    background-color: var(--main-color1);
    cursor: pointer;
}

#place-button:hover {
    background-color: var(--main-color1-hover);
}

.place-button-cooldown {
    cursor: default !important;
    background-color: var(--main-color1-hover) !important;
}

#place-outline {
    width: 0px;
    height: 0px;

    border-width: 0px;
    border-radius: 0px;
    background-color: transparent;
}

#control-panel {
    width: 150px;
    margin: 70px 0 0 calc(100vw - 200px);

    background-color:transparent;
    border-style: none;
}

#clear-button {
    width: 100%;
    height: 25px;

    background-color: #17E87D;
    cursor: pointer;
}

#clear-button:hover {
    background-color: #0E924F;
}

.clear-input {
    width: 100%;
    height: 25px;
}

#ban-button {
    width: 100%;
    height: 25px;

    background-color: #ff0000;
    cursor: pointer;
}

#ban-button:hover {
    background-color: #bf0000;
}

#ban-input {
    width: 100%;
    height: 25px;
}

#cooldown-button {
    width: 100%;
    height: 25px;
    background-color: #346eeb;
}

#cooldown-button:hover {
    background-color: #2753b3;
}

#cooldown-input {
    width: 100%;
    height: 25px;
}

#user-label-container {
    width: calc(var(--zoom-bar-width) - var(--place-pos-width) - 25px);
    height: var(--place-pos-height);
    margin: 120px 0 0 calc(50vw - (var(--zoom-bar-width)/2) + var(--place-pos-width) + 15px);
    text-align: left;
}

#user-label {
    font-size: 10px;
    margin-top: 3px;
    margin-left: 10px;
}

#error-container {
    width: var(--error-width);
    padding: 10px;
    margin: 200px 0 0 calc(50vw - (var(--error-width)/2));
    border-radius: 10px;

    background-color: #ff0000;
}
