{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
        <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
        {% block head %}{% endblock head %}

        <meta charset="UTF-8">
        <meta name="description" content="Website for Sheppsu's offlinechatbot">
        <meta name="keywords" content="sheppsu, offlinechatbot">
        <meta name="author" content="Sheppsu">
        <meta name="viewport" content="width=device-width">

        <title>offlinechatbot - {% block title %}{% endblock title %}</title>
    </head>
    <body>
        <div class="header">
            <a class="header-link" href="{% url 'index' %}">
                <div class="header-item">Home</div>
            </a>
            <a class="header-link" href="{% url 'docs' %}">
                <div class="header-item">Docs</div>
            </a>
            <div class="header-spacer"></div>
            {% if user.is_authenticated %}
            <a class="header-link" href="{{ auth_url }}">
                <div class="header-item">{{ user.username }}</div>
            </a>
            {% else %}
            <a class="header-link" href="{{ auth_url }}">
                <div class="header-item">Login (Twitch)</div>
            </a>
            {% endif %}
        </div>
        {% block body %}{% endblock body %}
    </body>
</html>